#grid[data-columns]::before {
    content: '3 .column.size-1of3';
}

body,
html,
.page-content {
    background: #F3F3F3;
}

.column { float: left; }

.size-1of3 {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
}

#grid img {
    width: 100%;
}

.site-header .titles {
    float: left;
}

.site-header .site-title a,
.site-header .site-description {
    color: #fff;
}

.site-header .site-title {
    line-height: 1.5em;
    font-size: 180%;
    float: none;
    padding: 6px 5px 0 5px;
    display: inline-block;
    background-color: #333333;
    font-weight: normal;
}

.site-header .site-description {
    font-size: 120%;
    font-weight: normal;
    display: inline-block;
    font-family: 'Georgia';
    font-style: italic;
    padding: 3px 5px;
    background-color: #474747;
}

.work {
    position: relative;
    box-shadow: -1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.work .title,
.work .client {
    color: #fff;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: -2px;
    display: inline-block;
    padding: 1px 5px;
}

.work .title {
    bottom: 46px;
    font-size: 120%;
    background-color: #333333;
}

.work img {
    padding: 0;
    margin: 0;
    display: block;
}

.work .client {
    font-size: 100%;
    background-color: #474747;
    font-family: 'Georgia';
    font-style: italic;
}

