---
layout: default
---

<div class="home">

  <div id="grid" data-columns>
      {% for work in site.categories.work %}
      <div class="work">
          <a href="{{ work.url | prepend: site.baseurl }}">
              <span class="title">{{ work.title }}</span>
              <span class="client">{{ work.client }}</span>
              {% if page.version == 2 %}
              <img src="{{ work.image.column }}">
              {% else %}
              <img src="{{ work.image.column }}">
              {% endif %}
          </a>
      </div>
      {% endfor %}
  </div>

</div>
