---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.client }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">

  {% if page.type == 'new' %}
  <img src="{{ page.image.wide | prepend: site.baseurl }}" class="img-responsive"/>
  {% else %}
  <img src="{{ page.image.wide }}" class="img-responsive"/>
  {% endif %}

  {% for image in page.gallery %}
    {% if page.type == 'new' %}
    <img src="{{ image.wide | prepend: site.baseurl }}" class="img-responsive"/>
    {% else %}
    <img src="{{ image.wide }}" class="img-responsive"/>
    {% endif %}
  {% endfor %}

  {{ content }}
  </article>

</div>
